<div *ngIf="error">
  {{error}}
</div>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name </label>
    <input name="name" type="text" [(ngModel)]="modifiedData.name" />
  </div>

  <div>
    <label for="address"> Description </label>
    <input name="description" type="text" [(ngModel)]="modifiedData.description" />
  </div>

  <div *ngIf="allCategories$ | async as allCategories">
    <br />
    Select categories
    <div *ngFor="let category of allCategories; index as i">
      <label>{{category.attributes.name}}
        <input type="checkbox" name="category{{i}}" [(ngModel)]="modifiedData.categories[i].checked">
      </label>
    </div>
  </div>

  <button class="button" type="submit">Create</button>

</form>
